<mat-card fxFlex="600px" fxFlexOffset="calc(50% - 300px)" fxFlexOffset.lt-sm="0" fxLayoutGap="10px" fxFlex.lt-sm="100"
  fxLayout="row wrap" style="margin: 20px;">
  <div fxFlex="100" fxLayout="row wrap">
    <div fxFlex="100" style="padding: 10px; font-weight: bold;">
      Custom Date Format using Material DatePicker
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="20px">
      <div fxFlex="100" fxLayout="column" style="margin: 20px;">
        <app-date-picker placeholder="Enter The First Date" [(ngModel)]="firstDate" format="YYYY/MM/DD HH:mm:ss"></app-date-picker>
        <span> Date Format:
          <strong>YYYY/MM/DD HH:mm:ss</strong> - Value:
          <strong> {{ firstDate}} </strong>
        </span>
      </div>
      <div fxFlex="100" fxLayout="column" style="margin: 20px;">
        <app-date-picker placeholder="Enter The Second Date" [(ngModel)]="secondDate" format="MM/DD/YYYY HH:mm:ss"></app-date-picker>
        <span> Date Format:
          <strong>MM/DD/YYYY HH:mm:ss</strong> - Value:
          <strong> {{ secondDate }} </strong>
        </span>
      </div>
      <div fxFlex="100" fxLayout="column" style="margin: 20px;">
        <app-date-picker placeholder="Enter The Third Date" [(ngModel)]="thirdDate" format="YYYY/MM/DD"></app-date-picker>
        <span> Date Format:
          <strong>YYYY/MM/DD</strong> - Value:
          <strong>{{ thirdDate }} </strong>
        </span>
      </div>
      <div fxFlex="100" fxLayout="column" style="margin: 20px;">
        <app-date-picker placeholder="Enter The Fourth Date" [(ngModel)]="fourthDate" format="YYYY-MM-DD HH:mm:ss"></app-date-picker>
        <span> Date Format:
          <strong>YYYY-MM-DD HH:mm:ss</strong> - Value:
          <strong> {{ fourthDate }}</strong>
        </span>
      </div>

      <div fxFlex="100" fxLayout="column" style="margin: 20px;">
        <app-date-picker placeholder="Enter The Fifth Date" [(ngModel)]="fifthDate" format="YY/MM/DD"></app-date-picker>
        <span> Date Format:
          <strong>YY/MM/DD</strong> - Value:
          <strong> {{ fifthDate }}</strong>
        </span>
      </div>

      <div fxFlex="100" fxLayout="column" style="margin: 20px;">
        <app-date-picker placeholder="Enter The Fifth Date" [(ngModel)]="sixthDate" format="MMM YYYY"></app-date-picker>
        <span> Date Format:
          <strong>YY/MM/DD</strong> - Value:
          <strong> {{ sixthDate }}</strong>
        </span>
      </div>
    </div>
  </div>

  <div fxFlex="100" style="padding-top: 20px; font-weight: bold;">
    Min Date Example
  </div>
  <div fxFlex="100" fxLayout="column" style="margin: 20px;">
    <app-date-picker placeholder="Min Date Example" [minDate]="minDate" format="MMM YYYY"></app-date-picker>
  </div>

</mat-card>
